<!DOCTYPE html>
<html>
	<head>
		<title>My Blog</title>
		<meta name="author" content="Vergil Wang">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	</head>
	<body>
	<!-- Nav bar Start -->
	<nav class="container">
		<ul>
			<li class="brand">
				<a href="/">
					<h2>
						<i>V</i><i>e</i><i>r</i><i>g</i><i>i</i><i>l</i>'<i>s</i> <i>B</i><i>l</i><i>o</i><i>g</i>
					</h2>
				</a>
			</li>
			<li><a href="/about"><span>About Me</span><span>關 於 我</span></a></li>
			<li><a href="/city/landing"><span>Photo Blog</span><span>相 簿</span></a></li>
			<li><a href=""><span>Diary</span><span>日 誌<small> (施工中)</small></span></a></li>
			<li class="signIn">
				<% if(!currentUser){ %>
				<a  href="/homepage/login"><span><i class="fa fa-user" aria-hidden="true"></i> Sign in</span><span><i class="fa fa-user" aria-hidden="true"></i> 登 入</span></a>
				<% } else { %>
				<a  href="/homepage/logout"><span><i class="fa fa-user" aria-hidden="true"></i> Logout </span><span><i class="fa fa-user" aria-hidden="true"></i> 登 出</span></a>
				<% } %>
			</li>
		</ul>
	</nav>

	<nav id="hidden_nav">
		<ul>
			<li><a href="/homepage"><i class="fa fa-home" aria-hidden="true"></i></a></li>
			<li><a href="/about"><i class="fa fa-address-card-o" aria-hidden="true"></i></a></li>
			<li><a href="/city/landing"><i class="fa fa-camera-retro" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></li>
		</ul>
	</nav>
	