<!DOCTYPE html>
<html>
	<head>
		<title>My Blog</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	</head>
	<body>
	<!-- Nav bar Start -->
	<nav class="container">
		<ul>
			<li class="brand">
				<a href="/">
					<h2>
						<i>V</i><i>e</i><i>r</i><i>g</i><i>i</i><i>l</i> <i>B</i><i>l</i><i>o</i><i>g</i>
					</h2>
				</a>
			</li>
			<li><a href=""><span>About Me</span><span>關 於 我</span></a></li>
			<li><a href=""><span>Portfolio</span><span>相 簿</span></a></li>
			<li><a href=""><span>Diary</span><span>日 誌</span></a></li>
		</ul>
	</nav>