<% include ./partials/homeHeader %>

<div class="container">
	<a href="">Add New Post</a>
	<div class="article row col-9">
		<p>date</p>
		<h2>homepage <span>tag</span></h2>
		<p>text preview</p>
		<a href="">Read more...</a>
	</div>
</div>

<script type="text/javascript" src="/scripts/nav.js"></script>
<% include ./partials/footer %>