<!DOCTYPE html>
<html>
	<head>
		<title>YelpTaiwan</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script> <!-- Modernizr是用來偵測瀏覽器是否支援HTML5與CSS3等規格的JS Library。-->

		<!-- icon moon -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/icomoon.css">
		
</svg>
</svg>

</head>
<div id="landing-header" >
	<h1>
		<i class="icon-rocket"></i>
		Welcome to <span>Y</span><span>e</span><span>l</span><span>p</span>Taiwan
		<i class="icon-rocket"></i>
	</h1>
	<a href="/city" class="btn btn-lg btn-success"> View All Cities in Taiwan</a>
</div>

<ul class="slideshow">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>




<% include partials/footer %>