<% include ../partials/header %>
<div class="container">
	<header class="jumbotron">
	<div class="container">
		<h1>Welcom to My PhotoBLOG !</h1>
		<p>Memories all over Taiwan</p>
		<% if(currentUser && currentUser.username ==="admin"){ %>
		<p>
			<a class="btn btn-primary btn-large" href="/city/new">Add New Photo</a>
		</p>
		<% } %>
	</div>
	</header>

	<div class="row text-center" style="display: flex; flex-wrap: wrap;">
		<!-- <div class="col-lg-12">
			<h3>Most Famous City</h3>
		</div> -->
		<% cities.forEach(function(city){ %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<img src="<%= city.image %>" alt="<%= city.name %>">
					<div class="caption">
						<h4><%= city.name %></h4>
					</div>
					<div>
						<a class="btn btn -primary" href="/city/<%= city._id %>">More info</a>
					</div>
				</div>
			</div>
		<%	}) %>
	</div>	

	

	<a href="/city/landing">Back to landing page</a>
</div>





<% include ../partials/footer %>