@import "normalize.css";
@import url(//fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url('https://fonts.googleapis.com/css?family=Yatra+One');

@media only screen and (min-width: 581px) {
	body {
		font-size: 0.9em;
	}
	li.brand {
		width: 110px;
	}
	.fa-chevron-circle-down {
		display: none;
	}
	li.signIn{
	display: inline-block;
	position: relative;
	float: right;
	top: 16px;
	}

	li.signIn:after{
		content: "";
	    clear: both;
	    display: table;
	}
}

@media only screen and (max-width: 580px) {
	body {
		font-size: 0.8em;
	}
	nav.container {
		min-width: 450px;
	}
	li.brand {
		width: 90px;
	}
	li.signIn{
	display: inline-block;
	position: relative;
	float: right;
	}
	.signIn a{
		display: block;
		visibility: hidden;
	}
	.fa-chevron-circle-down {
		display: block;
		font-size: 2em;
		background: #aaa;
	}
	li.signIn:hover .fa-chevron-circle-down {
		color: #dfd;
	}

	li.signIn:hover a {
		visibility: visible;
		display: block;
		background: #aaa;
	}
	nav.container li {
		width: 100%;
	}
	

	li.signIn:after{
		content: "";
	    clear: both;
	    display: table;
	}


}

@media only screen and (min-width: 869px) {
	body {
		font-size: 1.1em;
	}
	nav.container li {
		width: 170px;
	}
	.fa-chevron-circle-down {
		display: none;
	}
	li.signIn{
	display: inline-block;
	position: relative;
	float: right;
	top: 16px;
	}

	li.signIn:after{
		content: "";
	    clear: both;
	    display: table;
	}

}



* {
	font-family: 'cwTeXYen','Yatra One', cursive, sans-serif;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	max-width: 100%;
	min-height: 100%;
	background: #eee;
}

nav.container {
	display: block;
	position: relative;
	width: 100%;
	background: #aaa;
	text-transform: uppercase;
	font-weight: bold;
}

nav.container a {
	color: black;
	text-decoration: none;
	padding: 5px;
}

nav.container >ul {
	width: 100%;
	margin: 0;
	padding-left: 0;
	padding-bottom: 10px;
}

li.brand h2 {
	margin: 0;
}

nav.container >ul li {
	display: inline-block;
	margin-left: 0;	
	text-align: center;
}

nav.container >ul li a {
	padding: 0;
}

/*Navbar bottom-line*/
nav.container >ul li:not(.brand):not(.signIn) {
	padding-right: 3px;
	border-right: solid white 1px;
}

nav.container >ul li:not(.brand):after{
	display: block;
	content: "";
	border-bottom: solid #222 2px;
	transform: scaleX(0);
	transition: transform 1s ease-in-out;
}

nav.container >ul li:not(.brand):hover:after:not(.signIn){
	border-bottom: solid #222 2px;
	transform: scaleX(1);
}

/*Navbar English-Chinese change*/
nav.container ul li:nth-child(1) {
	margin: 0;
	padding: 0;
}

nav.container ul li:not(.brand) span:nth-child(1) {
	display: inline-block;
	position: relative;
	top: 10px;
	width: 100%;
	transition: all 0.8s;
}

nav.container ul li:hover:not(.brand) span:nth-child(1) {
	display: : none;
	transform: scale(0);
}

nav.container ul li:not(.brand) span:nth-child(2) {
	display: inline-block;
	position: relative;
	bottom: 10px;
	transform: scale(0);
	transition: all 0.8s;
}

nav.container ul li:hover:not(.brand) span:nth-child(2) {
	display: inline-block;
	transform: scale(1);
	color: #474;
}



/* RWD Grid */
.col-1 	{width: 8.33%;}
.col-2 	{width: 16.66%;}
.col-3 	{width: 25%;}
.col-4 	{width: 33.33%;}
.col-5 	{width: 41.66%;}
.col-6 	{width: 50%;}
.col-7 	{width: 58.33%;}
.col-8 	{width: 66.66%;}
.col-9 	{width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



.row::after {
    content: "";
    clear: both;
    display: table;
}

div.container {
	margin-top: 55px;
}

div.container >a{
	display: block;
	text-align: center;

}

div.row {
	margin: auto;
}

div.article {

	padding: 10px;
	margin: 4% auto;
	color: white;
	background: #444;
	border-radius: 10px;
}

div.article a{
	color: white;
	text-decoration: none;
	float: right;
}

div.article a:after{
	content: "";
	clear: both;
	display: table;
}

div.article a:hover{
	color: #a7a;
}

div.article >p{
	margin: 0;
}



/*For city routes*/
/* - - - - - - - - - - - - - - - - - - - - - - - -*/
.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 8px;
}

#delete-form {
	display: inline;
}

/* - - - - - - - - - - - - - - - - - - - - - - - -*/