@import "normalize.css";
/*ref: https://fonts.google.com/earlyaccess*/
@import url(//fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url('https://fonts.googleapis.com/css?family=Yatra+One');

*, button, select {
	font-family: 'cwTeXYen','Yatra One', cursive, sans-serif;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: #a7a;
}

p {
	white-space: pre-wrap;
}

/* RWD Grid */
/* For mobile phones: */


@media only screen and (max-width: 580px) {
	body {
		font-size: 0.8em;
	}
	nav.container {
		min-width: 450px;
	}
	li.brand {
		width: 90px;
	}
	li.signIn{
	background: #aaa;
	display: inline-block;
	position: relative;
	float: right;
	}

	nav.container li {
		width: 100%;
	}
	

	li.signIn:after{
		content: "";
	    clear: both;
	    display: table;
	}

	.form-item {
	display: block;
	text-align: left;
	width: 100%;
	margin: 1% auto;
	}

	[class*="col-"] {
	    width: 100%;
	}

	div.row {
		display: block;
		text-align: center;
	}

	.tag-list {
	height: 100%;
	background: #ded;
    background: -webkit-linear-gradient(#ded, #7fe); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ded, #7fe); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ded, #7fe); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ded, #7fe); /* Standard syntax */
	}

	div.container h1 {
		cursor: pointer;
		-webkit-transition: color 0.5s;
		-moz-transition: color 0.5s;
		-o-transition: color 0.5s;
		transition: color 0.5s;
	}

	div.container h1:hover {
		color: rgba(10, 10, 225, 0.8);	
	}

	div.container h1:after {
		display: block;
		width: 250px;
		content: "";
		border-bottom: dotted 1px red;

		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;

		-webkit-transform: scaleX(0);
		-moz-transform: scaleX(0);
		-o-transform: scaleX(0);
		transform: scaleX(0);
	}
	
	div.container h1:hover:after {
		display: block;
		width: 250px;
		content: "";
		border-bottom: dotted 1px red;
		-webkit-transform: scaleX(1);
		-moz-transform: scaleX(1);
		-o-transform: scaleX(1);
		transform: scaleX(1);
	}

	.text {
		display: none;
		transition: max-height 0.5s ease-in-out;
	}

	nav#hidden_nav {
		position: fixed;
		top: -29px;
		z-index: 100;
		width: 100%;
		background: #485563;
		background: -webkit-linear-gradient(right ,#485563, #29323c);
		background: -moz-linear-gradient(right ,#485563, #29323c);
		background: -o-linear-gradient(right ,#485563, #29323c);
		background: linear-gradient(right ,#485563, #29323c);
		clear: both;

		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}

	nav#hidden_nav ul{
		margin: 0;
		text-align: center;
	}


	nav#hidden_nav li{
		display: inline;
		font-size: 2em;
		width: auto;
		padding: 1px 25px;
	}

}

@media only screen and (min-width: 581px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    [class*="col-"] {
    float: left;
	}
	[class*="col-"]:after {
    	content: "";
    	clear: both;
    	display: table;
	}

	body {
		font-size: 0.9em;
	}
	li.brand {
		width: 110px;
	}
	li.signIn{
	display: inline-block;
	position: relative;
	float: right;
	top: 16px;
	}

	li.signIn:after{
		content: "";
	    clear: both;
	    display: table;
	}

	div.row {
		display: table;
		height: 100%;
		text-align: center;
	}

	.tag-list {
	height: 100%;
	background: #ded;
    background: -webkit-linear-gradient(#ded, #7fe); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ded, #7fe); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ded, #7fe); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ded, #7fe); /* Standard syntax */
	}

	nav#hidden_nav {
		display: none;
	}
}

@media only screen and (min-width: 869px) {
	body {
		font-size: 1.1em;
	}
	nav.container li {
		width: 170px;
	}
	li.signIn{
	display: inline-block;
	position: relative;
	float: right;
	top: 16px;
	}

	li.signIn:after{
		content: "";
	    clear: both;
	    display: table;
	}
	
	div.row {
		display: table;
		height: 100%;
		text-align: center;
	}

	.tag-list {
	height: 100%;
	background: #ded;
    background: -webkit-linear-gradient(#ded, #7fe); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ded, #7fe); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ded, #7fe); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ded, #7fe); /* Standard syntax */
	}

	nav#hidden_nav {
	display: none;
	}

}

div.row {
	width: 100%;
	
}

nav.container {
	display: block;
	position: relative;
	width: 100%;
	border-radius: 3px;
	background: #aaa;
	background: -webkit-linear-gradient(#222, #aaa); 
    background: -o-linear-gradient(#222, #a9a); 
    background: -moz-linear-gradient(#222, #aaa); 
    background: linear-gradient(#222, #aaa); 

	text-transform: uppercase;
	font-weight: bold;

	-moz-box-shadow:    1px 1px 1px 1px #ccc;
  	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
 	 box-shadow:        1px 1px 1px 1px #ccc;
}

.brand_fadeout {
	transition: 1s;
	opacity: 0;
}

.brand_fadein {
	transition: 1s;
	opacity: 1;
}

nav.container a {
	color: black;
	text-decoration: none;
	padding: 5px;
}

nav.container >ul {
	width: 100%;
	margin: 0;
	padding-left: 0;
	padding-bottom: 10px;
}

li.brand h2 {
	margin: 0;
}

nav.container >ul li {
	display: inline-block;
	margin-left: 0;	
	text-align: center;
}

nav.container >ul li a {
	padding: 0;
}

/*Navbar bottom-line*/
nav.container >ul li:not(.brand), {
	padding-right: 3px;
	border-right: solid white 1px;
}

nav.container >ul li:not(.brand):after{
	display: block;
	content: "";
	border-bottom: solid #222 2px;
	transform: scaleX(0);
	transition: transform 1s ease-in-out;
}

nav.container >ul li:not(.brand):hover:after{
	border-bottom: solid #222 2px;
	transform: scaleX(1);
}

/*Navbar English-Chinese change*/
nav.container ul li:nth-child(1) {
	margin: 0;
	padding: 0;
}

nav.container ul li:not(.brand) span:nth-child(1) {
	display: inline-block;
	position: relative;
	top: 10px;
	width: 100%;
	transition: all 0.8s;
}

nav.container ul li:hover:not(.brand) span:nth-child(1) {
	display: : none;
	transform: scale(0);
}

nav.container ul li:not(.brand) span:nth-child(2) {
	display: inline-block;
	position: relative;
	bottom: 10px;
	transform: scale(0);
	transition: all 0.8s;
}

nav.container ul li:hover:not(.brand) span:nth-child(2) {
	display: inline-block;
	transform: scale(1);
	color: #2c2;
}



.tag-list h3 {
	margin-top: 0;
	margin-bottom: 9px;
	padding-top: 10px;
}

.tag-list a {
	color: blue;
}

.tag-list a:hover {
	color: #a7a;
}

ul.tag {
	margin-top: 0;
	padding: 0;
}


div.article {
	padding: 10px;
	margin: 4% 15%;
	color: white;
	background: #444;
	border-radius: 10px;
	overflow: auto;

	-moz-box-shadow:    2px 2px 5px 1px #aaa;
  	-webkit-box-shadow: 2px 2px 5px 1px #aaa;
 	 box-shadow:        2px 2px 5px 1px #aaa;
}

div.article p,
div.article h1,
div.article h2,
div.article h3,
div.article h4{
	text-align: left;
}

div.article a{
	color: white;
	float: right;
}


div.article a:hover{
	color: #a7a;
}

div.article >p{
	margin: 0;
}

div.article_head {
	display: flex;
	justify-content: space-between;
	clear: both;
}

div.article_head +p {
	text-align: left;
}

.tag {
	list-style-type: none;
}

.tag >ul {
	list-style-type: none;
}

.form-group {
	padding-top: 3%;
	text-align: center;
}

.form-group button{
	display: inline-block;
}

.form-group h3{
	margin: 0;
}

.form-item {
	display: block;
	text-align: left;
	width: 75%;
	margin: 1% auto;
	padding-bottom: 10px;
}

.form-item input, textarea {
	width: 100%;
}

/*SHOW PAGE*/

#showPage {
	color: #eee;
	height: 100%;
	margin: 0;
	padding: 5% 2%;
	border-radius: 3px;
	background: black;
}

h3#signature {
	text-align: right;
}

#modification a {
	margin-right: 10px;
	display: block;
}

#edit:hover {
	color: #fa1;
}

#danger {
	color: #eee;
	background-color: black;
	border-style: none;
	float: right;
}

#danger:hover {
	color: #d11;
	cursor: pointer;
}

#danger:active {
	position: relative;
	top: 2px;
}

/*LOGIN PAGE*/

div.login {
	height: 100%;
	background: #DE6262; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #DE6262 , #FFB88C); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #DE6262 , #FFB88C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input[type=text], textarea, button {
	  outline: none;
}

input[type=text], textarea {
  -webkit-transition: all 0.50s ease-in-out;
  -moz-transition: all 0.50s ease-in-out;
  -ms-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
  transition: all 0.50s ease-in-out;
  margin: 5px auto;
  border: 1px solid #ddd;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(281, 23, 28, 1);
  border: 1px solid rgba(281, 23, 28, 1);
}


/*About Page*/

div.container {
	position: relative;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 5% 5%;
	background: #eee;
	cursor: default;
}

div.container h1{
	margin: auto;
	padding: 5px 0;
}

div.container h2{
	margin: 0;
}

div.container ul {
	margin: auto;
	height: 100%;
}

.fa-github-square {
	font-size: 1.3em;
	color: #248843;
}


/*homeFooter*/
footer {
	clear: both;
	display: block;
	height: 1.5em;
	background: #556270;
	background: -webkit-linear-gradient(to left, #556270, #4ECDC4 );
	background: linear-gradient(to left, #556270, #4ECDC4 );
	text-align: center;
}

footer p {
	margin-top: 0;
}

