<% include ../partials/homeHeader %>

<div class="container">

	<h1>Who am I ? <small>(我是...)</small></h1>
	<div class="text">
		<ul>
			<li><h2>Vergil Wang</h2></li>
			<li><h2>樂觀、勤於自學新知、喜好拍攝風景</h2></li>
		</ul>	
	</div>
		
	<h1>Residence <small>(住在...)</small></h1>
	<div class="text">
		<ul>
			<li><h2>台灣 台中市 <small>(Taichung city, Taiwan)</small></h2></li>
		</ul>
	</div>

	<h1>Education <small>(學歷)</small></h1>
	<div class="text">
		<ul>
			<li><h2>台中一中 <small>(National Taichung First Senior High School)</small></h2></li>
			<li><h2>國立中興大學化學工程學系 <small>(Department of Chemical Engineering, National Chung Hsing University)</small></h2></li>
			<li><h2>國立清華大學化工所 <small>(Department of Chemical Engineering, National Tsing Hua University)</small></h2></li>
		</ul>
	</div>

	<h1>Skill <small>(能力)</small></h1>
	<div class="text">
		<ul>
			<li><h2>Front-end: Html(ejs), CSS,  Javascript</h2></li>
			<li><h2>Back-end: Node.js</h2></li>
			<li><h2>Database: MongoDB</h2></li>
			<li><h2>Version Control: Git</h2></li>
			<li><h2>Cloud Application Platform: AWS EC2</h2></li>
			<li><h2>Self-learning: </h2></li>
			<ul>
				<li><h2>Learn all skills mentioned above on my own</h2></li>
				<li><h2>Complete this website</h2></li>
			</ul>
		</ul>
	</div>

	<h1>Hobby <small>(興趣)</small></h1>
	<div class="text">
		<ul>
			<li><h2>Learn coding skills <small>(學習程式技術)</small></h2></li>
			<li><h2>Reading <small>(閱讀)</small></h2></li>
			<li><h2>Photography <small>(攝影)</small></h2></li>
		</ul>
	</div>

	<h1>My Website <small>(我的網站)</small> </h1>
	<div class="text">
		<ul>
			<li><h2><i class="fa fa-github-square" aria-hidden="true"></i> Github: <a href="https://github.com/Vergil0327" target="_blank"><small>&ltClick Me&gt</small></a></h2></li>
			<li><h2><i class="fa fa-trophy" aria-hidden="true"></i>This Demo Blog !!!</h2></li>
		</ul>
	</div>

	<h1>Contact Me <small>(聯絡我)</small></h1>
	<div class="text">
		<ul>
			<li><h2>Email: ver9lovegakki@hotmail.com</h2></li>
		</ul>
	</div>

</div>

<% include ../partials/homeFooter %>