<% include ../partials/homeHeader %>

<div class="login">
		<form class="form-group" action="/homepage/login" method="POST">	
			<div class="form-item">
				<h3>Username</h3>
				<input type="text" name="username" placeholder="username">
			</div>
			<div class="form-item">
				<h3>Password</h3>
				<input type="password" name="password" placeholder="password">
			</div>
			<button>Submit</button>
		</form>
</div>


<% include ../partials/homeFooter %>