<% include ../partials/homeHeader %>

<div class="container">
		<form class="form-group" action="/homepage" method="POST">	
			<div class="form-item">
				<h1>Write an Article</h1>
				<h3>Title</h3>
				<input type="text" name="post[title]" placeholder="title">
			</div>
			<div class="form-item">
				<h3>Tag</h3>
				<select name="post[tag]">
					<option value="test">test</option>
					<option value="type_1">type_1</option>
					<option value="type_2">type_2</option>
				</select>	
			</div>
			<div class="form-item">
				<h3>Content</h3>
				<textarea name="post[text]"  rows="10"></textarea>
			</div>
			<button>Submit</button>
		</form>
</div>


<% include ../partials/footer %>